amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.3.4
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.36.0
cryptography==49.0.0
dj-database-url==3.1.2
Django==6.0.7
django-ckeditor-5==0.2.4
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-environ==0.11.2
django-jazzmin==3.0.5
django-modeltranslation==0.20.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.27.2
drf-spectacular-sidecar==2026.7.1
gunicorn==21.2.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
pycparser==3.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
redis==5.0.1
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
setuptools==69.5.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
whitenoise==6.6.0
