amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.3.4
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.36.0
cryptography==48.0.0
defusedxml==0.7.1
Django==5.0.2
django-allauth==0.61.1
django-ckeditor==6.7.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-environ==0.11.2
django-filter==23.5
django-jazzmin==2.6.0
django-js-asset==3.1.2
django-model-utils==4.3.1
django-ratelimit==4.1.0
django-redis==5.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
factory-boy==3.3.0
Faker==40.18.0
flower==2.0.1
gunicorn==21.2.0
humanize==4.15.0
idna==3.15
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
Markdown==3.5.1
oauthlib==3.3.1
packaging==26.2
pillow==10.2.0
pluggy==1.6.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
pycparser==3.0
Pygments==2.17.2
PyJWT==2.12.1
pytest==8.0.0
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
python3-openid==3.2.0
pytz==2026.2
PyYAML==6.0.3
redis==5.0.1
referencing==0.37.0
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==0.30.0
sendgrid==6.11.0
six==1.17.0
sqlparse==0.5.5
starkbank-ecdsa==2.3.1
tornado==6.5.5
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.6.0
